.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


body{
	background-image: url(backgroundimage.jpg);
	background-size: contain;
}

h1 {
  font-family: New Times Roman;
  font-size: 3em;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  width: 400px;
  text-align: center;
}


img {
	width: 450px; 
	height:300px;
}